<div class="user-metadata-details">
  <ul class="user-metadata-details-inner">
    <% if actor.class.name=="Organization" %>
      <% if actor.location.present? %>
        <li>
          <div class="key">
            Headquarters
          </div>
          <div class="value">
            <%= sanitize actor.location %>
          </div>
        </li>
      <% end %>
      <% if actor.company_size.present? %>
        <li>
          <div class="key">
            Employees
          </div>
          <div class="value">
            <%= actor.company_size %>
          </div>
        </li>
      <% end %>
      <% if actor.email.present? %>
        <li>
          <div class="key">
            Support email
          </div>
          <div class="value">
            <a href="mailto:<%= sanitize actor.email %>">
              <%= sanitize actor.email %>
            </a>
          </div>
        </li>
      <% end %>
    <% else %>
      <% user_email = actor.decorate.profile_email %>
      <% if user_email && context != "sidebar" %>
        <li>
          <div class="key">
            Email
          </div>
          <div class="value">
            <a href="mailto:<%= user_email %>">
              <%= user_email %>
            </a>
          </div>
        </li>
      <% end %>
      <% if actor.work.present? %>
        <li>
          <div class="key">
            Work
          </div>
          <div class="value">
            <%= actor.work %>
          </div>
        </li>
      <% end %>
    <% end %>
    <% if actor.location.present? %>
      <li>
        <div class="key">
          Location
        </div>
        <div class="value">
          <%= actor.location %>
        </div>
      </li>
    <% end %>
  <% end %>
  <li>
    <div class="key">
      Joined
    </div>
    <div class="value">
      <%= local_date(actor.created_at) %>
    </div>
  </li>
  </ul>
</div>
